.github/workflows/dependency-review.yml @coveo/dev-tooling-reviewers-1 @coveo/dev-tooling-reviewers-2 @coveo/dev-tooling-reviewers-3
audit-renovate-config/** @coveo/dev-tooling @coveo/r-d-security-defence @coveo/cloud-intelligence

.github/workflows/actions-codeql.yml @coveo/r-d-security-defence
.github/workflows/dependency-review.yml @coveo/r-d-security-defence
.github/workflows/dependency-review-v2.yml @coveo/r-d-security-defence
.github/workflows/java-maven-openjdk-codeql.yml @coveo/r-d-security-defence
.github/workflows/java-maven-openjdk-dependency-review.yml @coveo/r-d-security-defence
.github/workflows/java-maven-openjdk-dependency-submission.yml @coveo/r-d-security-defence
.github/workflows/scorecard.yml @coveo/r-d-security-defence
.github/workflows/test-actions-codeql.yml @coveo/r-d-security-defence
.github/workflows/test-dependency-review.yml @coveo/r-d-security-defence
